*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(226, 43%, 10%);
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

main.project{
    width: 1000px;
    height:450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

aside.main{
    background-color: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 240px;
    margin: 30px;
    align-items: center;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 20px;
}

div.top{
    padding-top: 20px;
    padding-left:20px;
    width: 240px; 
    height: 350px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 15px;
}
h2.name{
   font-size: 40px;
}

nav.timeline ul{
    width: 240px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}

nav.timeline ul li:hover{
    cursor: pointer;
}

img.img{
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 30px;
}

section.dashboard{
    height: 450px;
    /* Revisar essa largura */
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: 0;
}
section div.work{
    background: hsl(15, 100%, 70%);
    height: 215px;
    width: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position:relative;
}

section div.play{
    background: hsl(195, 74%, 62%);
    height: 215px;
    width: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position:relative;
}

section div.study{
    background:hsl(348, 100%, 68%);
    height: 215px;
    width: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position:relative;
}

section div.exercise{
    background:hsl(145, 58%, 55%);
    height: 215px;
    width: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position:relative;
}

section div.social{
    background: hsl(264, 64%, 52%);
    height: 215px;
    width: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position:relative;
}

section div.selfcare{
    background:hsl(43, 84%, 65%);
    height: 215px;
    width: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position:relative;
}

section.dashboard div.content{
    width: 230px;
    height: 180px;
    background: hsl(235, 46%, 20%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

img.svg{
    float: right;
    margin-right: 7px;
    width: 60px;
    height: 60px;
}

section.dashboard header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 230px;
}

section.dashboard main{
    font-size: 4em;
}

section.dashboard footer{
    font-size: 15px;
    padding-right: 100px;
}

footer  div.attribution{
    color: white;
    font-size: 1em;
}